db
*pyc
.DS_Store
src/static
**/local_settings*py
src/project/settings.py
fabfile.*
src/presupuesto-*
src/*config.codekit
.env

src/budget_app/static/stylesheets/config.codekit
/.gitignore
/.project
/.pydevproject

.idea