db
*pyc
aragon/static/javascripts/grid_formatters.min.js
aragon/static/javascripts/vis/budget-treemap.min.js
.DS_Store
/static
local_settings*py
fabfile.*

presupuesto-*
budget_app/config.codekit

locale/ca/LC_MESSAGES/django.mo

locale/ca/LC_MESSAGES/django.po

locale/es-es/LC_MESSAGES/django.po
