{% extends 'base.html' %}
{% from 'shared/entity_select.html' import render_entity_select as render_entity_select %}
{% block extra_javascript %}
<script src="{{ STATIC_URL }}javascripts/vis/d3.v3.min.js"></script>
<script src="{{ STATIC_URL }}javascripts/vis/bigtext.js"></script>
<script src="{{ STATIC_URL }}javascripts/vis/budget-treemap.js"></script>
<script src="{{ STATIC_URL }}javascripts/vis/budget-summary.js"></script>
<script src="{{ STATIC_URL }}javascripts/comparator.js"></script>
{% endblock %}
{% block content %}
{% if entities %}
<p><a href="{{ url('budget_app.views.counties') if is_county else url('budget_app.views.towns') }}" class="button button-3d grey tupper hide-when-embedded">
  {% if is_county %}
  ← {{ _('Volver a la lista de comarcas') }}
  {% else %}
  ← {{ _('Volver a la lista de municipios') }}
  {% endif %}
</a></p>
{% endif %}

<h1 class="page-title"></h1>
{% if not entities %}
<!-- <div class="alert inline-block note" id="draftBudgetMessage" display="none">
	Datos con el Proyecto de Ley de Presupuestos de la Comunidad Autónoma de Aragón para el Ejercicio 2023
</div> -->
{% endif %}

<div id="expenseSummaryContainer"></div>
<div id="fexpenseSummaryContainer"></div>
<div id="incomeSummaryContainer"></div>

<div id="expenseChartContainer" class="chart-container" style="width: 100%; margin-bottom: 20px"></div>
<div id="fexpenseChartContainer" class="chart-container" style="width: 100%; margin-bottom: 20px"></div>
<div id="incomeChartContainer" class="chart-container" style="width: 100%; margin-bottom: 20px"></div>
<h3 class="no-data-alert">{{ _('Información no disponible') }}</h3>
<div id="pop-up">
  <div id="pop-up-title"></div>
  <div id="pop-up-content"></div>
</div>

{% if entities %}
{{ render_entity_select('entity-select', entities, entity) }}
{% endif %}

{% include 'shared/data_controllers.html' %}

<div class="table-grid" id="myGrid"></div>

{% include 'entities/totals.html' %}

<p class="downloads" id="income-downloads">
  {{ _('Descarga la tabla de <b>Ingresos</b>')|safe }}
  <a class="icon-file-excel" href="{{ url('budget_app.views.entity_income', entity.level, entity.slug, 'csv') }}"><span class="file-info">CSV</span></a>
  o
  <a class="icon-file-excel" href="{{ url('budget_app.views.entity_income', entity.level, entity.slug, 'xls') }}"><span class="file-info">Excel</span></a>
</p>
<p class="downloads" id="fexpense-downloads">
  {{ _('Descarga la tabla de <b>Gastos (por programa)</b>')|safe }}
  <a class="icon-file-excel" href="{{ url('budget_app.views.entity_fexpenses', entity.level, entity.slug, 'csv') }}"><span class="file-info">CSV</span></a>
  o
  <a class="icon-file-excel" href="{{ url('budget_app.views.entity_fexpenses', entity.level, entity.slug, 'xls') }}"><span class="file-info">Excel</span></a>
</p>
<p class="downloads" id="expense-downloads">
  {{ _('Descarga la tabla de <b>Gastos</b>')|safe }}
  <a class="icon-file-excel" href="{{ url('budget_app.views.entity_expenses', entity.level, entity.slug, 'csv') }}"><span class="file-info">CSV</span></a>
  o
  <a class="icon-file-excel" href="{{ url('budget_app.views.entity_expenses', entity.level, entity.slug, 'xls') }}"><span class="file-info">Excel</span></a>
</p>

{% include 'shared/social_sharing.html' %}
{% include 'shared/data_sources.html' %}
{% include 'shared/policy_paths.html' %}

<script>
  $(function () {
    // Entity select dropdown
    $('#entity-select').submit(function(e) {
      e.preventDefault();
      entity_slug = $('#entity-select select').val();
      if ( entity_slug != '' ) {
        window.location.href = {{ 'getCountyCompareLink' if is_county else 'getTownCompareLink' }}('{{ entity.slug }}', entity_slug);
      }
    });

    function getColumnDefinition(uiState) {
      return { 
        field: uiState.field, 
        name: '{{ _("Previsto") }}',
        formatter: getFormatter(uiState.format),
        sortable: true, 
        headerCssClass: 'slick-header-right',
        getter: getBreakdownValue, 
        column: uiState.year,
        year: Number(uiState.year),
        stats: stats,
        width: 150,
        resizable: false
      }; 
    }

    function getExecutionColumnDefinition(uiState) {
      var columnDef = getColumnDefinition(uiState);
      var label = uiState.field == 'expense' ? '{{ _("Gastado") }}' : '{{ _("Ingresado") }}';
      columnDef.column = "actual_" + uiState.year;
      columnDef.name = getExecutionColumnName(budgetStatuses[uiState.year], label, budgetStatusLabels);
      return columnDef;
    }

{% if entities %}
    // Convert an article name into a link
    function entityLinkFormatter(row, cell, value, columnDef, dataContext) {
      var getIncomeLink = {{ 'getCountyIncomeLink' if is_county else 'getTownIncomeLink' }};
      var getFExpenseLink = {{ 'getCountyFExpenseLink' if is_county else 'getTownFExpenseLink' }};
      var getExpenseLink = {{ 'getCountyExpenseLink' if is_county else 'getTownExpenseLink' }};
      var getLink = (uiState.view == 'expense') ? getExpenseLink : (uiState.view == 'income' ? getIncomeLink : getFExpenseLink);
      var link = getLink('{{ entity.slug }}', dataContext.key);
      var linkedValue = "<a href='"+link+"'>"+value+"</a>";
      return rowNameFormatter(row, cell, linkedValue, columnDef, dataContext);
    };
{% else %}
    // The top level and small entities have different URLs at this point
    function entityLinkFormatter(row, cell, value, columnDef, dataContext) {
      if ( uiState.view == 'fexpense' )
        var formatter = policyLinkFormatter;
      else if ( uiState.view == 'expense' )
        var formatter = expenseArticleLinkFormatter;
      else
        var formatter = incomeArticleLinkFormatter;
      return formatter(row, cell, value, columnDef, dataContext);
    }
{% endif %}

    var uiState = null;
    function redraw() {
      // Avoid unnecessary redrawings (the slider is trigger happy)
      var newUIState = getUIState();
      if ( uiState && sameUIState(uiState, newUIState) ) return;
      uiState = newUIState;

      // Do work
      var columnDef = getColumnDefinition(uiState);
      var executionColumnDef = getExecutionColumnDefinition(uiState);
      var grid = createBudgetGrid("#myGrid", gridData[uiState.view], [
        {
          field: "label", 
          name: ( uiState.view == 'fexpense' ? '{{ _("Política") }}' : '{{ _("Artículo") }}' ),
          formatter: entityLinkFormatter,
          sortable: true,
          uiState: uiState
        },
        columnDef
{% if show_actual %}
        ,executionColumnDef
{% endif %}
      ]);

      // Update labels and show/hide totals plus download links based on view
      var executionLabelPostfix = getExecutionTotalLabel(budgetStatuses[uiState.year], budgetStatusLabels);
      if ( uiState.view == 'fexpense' ) {
        $(".page-title").text("{{ entity.name }}: "+'{{ _("Gastos (por programa)") }}');
        if ( includeFinancialChapters ) {
          $("#main-total .main-label").html('{{ _("Total gastos") }}'+executionLabelPostfix);
        } else {
          $("#main-total .main-label").html('{{ _("Total gastos no financieros") }}'+executionLabelPostfix);
          $("#including-financial-total .main-label").html('{{ _("Total gastos") }}'+executionLabelPostfix);
        }
        $("#income-downloads").hide();
        $("#fexpense-downloads").show();
        $("#expense-downloads").hide();

      } else if ( uiState.view == 'income' ) {
        $(".page-title").text("{{ entity.name }}: "+'{{ _("Ingresos") }}');
        $("#main-total .main-label").html('{{ _("Total ingresos") }}'+executionLabelPostfix);
        $("#income-downloads").show();
        $("#fexpense-downloads").hide();
        $("#expense-downloads").hide();

      } else {
        $(".page-title").text("{{ entity.name }}: "+'{{ _("Gastos") }}');
        $("#main-total .main-label").html('{{ _("Total gastos") }}'+executionLabelPostfix);
        $("#income-downloads").hide();
        $("#fexpense-downloads").hide();
        $("#expense-downloads").show();
      }

      // We show financial/non-financial split only in the functional breakdown view.
      // (This is basically for historical reasons, Aragon wanted it so. It could be argued that
      // it may be more consistent to show the split in all views; that'd require changes in the
      // controller when calculating the breakdowns.)
      if ( !includeFinancialChapters && uiState.view == 'fexpense' ) {
        $('#including-financial-total').show();
      } else {
        $('#including-financial-total').hide();
      }

      // Show actual/budgeted split only when there's data available
      // (and the field format is not '% of total', gets confusing otherwise)
      var breakdown = breakdowns[uiState.view],
          hasActualData = breakdown[uiState.field]['actual_'+uiState.year];
      if ( hasActualData && uiState.format!='percentage' ) {
        $('.secondary-label, .secondary-amount').show();
      } else {
        $('.secondary-label, .secondary-amount').hide();
      }

      // Fill in the amounts in the totals
      var getTotal = function(breakdown) { return (breakdown[uiState.field][uiState.year]||0); },
          getActualTotal = function(breakdown) { return (breakdown[uiState.field]['actual_'+uiState.year]||0); },
          format = function(amount) { return columnDef.formatter(0, 0, amount, columnDef, breakdown); },
          formatActual = function(amount) { return columnDef.formatter(0, 0, amount, executionColumnDef, breakdown); };

      if ( hasActualData ) {
        $("#main-total .main-amount").text(formatActual(getActualTotal(breakdown)));
        $("#main-total .secondary-amount").text(format(getTotal(breakdown)));
      } else {
        $("#main-total .main-amount").text(format(getTotal(breakdown)));
      }

      if ( uiState.view == 'fexpense' ) {
        // We have two totals for the functional expense view (non-financial/financial), so
        // we have some extra work in this case.
        var totalBudgeted = getTotal(breakdown);
        if ( !includeFinancialChapters )
          totalBudgeted += getTotal(financialExpenseBreakdown);

        if ( hasActualData ) {
          var totalActual = getActualTotal(breakdown);
          if ( !includeFinancialChapters )
            totalActual += getActualTotal(financialExpenseBreakdown);
          $("#including-financial-total .main-amount").text(formatActual(totalActual));
          $("#including-financial-total .secondary-amount").text(format(totalBudgeted));

        } else {
          $("#including-financial-total .main-amount").text(format(totalBudgeted));
        }
      }

      // Create budget legends (they require UI state since we don't have a draw() method, will do for now)
      // TODO: Have a draw() method to get rid of all this clunky extra parameters (year and field)
	  var year = $("#year-selection").val();
	  // 
    if (year == {{ draftBudgetYear }}) {
      $("#draftBudgetMessage_2").hide();
      $("#draftBudgetMessage").show();
    } else if (year == {{ draftBudgetYear_2 }}) {
      $("#draftBudgetMessage").hide();
      $("#draftBudgetMessage_2").show();
    } else {
      $("#draftBudgetMessage").hide();
      $("#draftBudgetMessage_2").hide();
    }
	  
     
      var expenseSummary = new BudgetSummary('#expenseSummaryContainer', breakdowns['expense'], expenseAreas, expenseTreemap.colorScale(), 'expense', year);
      var fexpenseSummary = new BudgetSummary('#fexpenseSummaryContainer', breakdowns['fexpense'], fexpenseAreas, fexpenseTreemap.colorScale(), 'expense', year);
      var incomeSummary = new BudgetSummary('#incomeSummaryContainer', breakdowns['income'], incomeAreas, incomeTreemap.colorScale(), 'income', year);


      if ( uiState.view == 'expense' ) {
        $('#incomeSummaryContainer').hide();
        $('#incomeChartContainer').hide();
        $('#fexpenseSummaryContainer').hide();
        $('#fexpenseChartContainer').hide();
        $('#expenseSummaryContainer').show();
        $('#expenseChartContainer').show();
        expenseTreemap.createTreemap(uiState); // Won't do anything if already created
        expenseTreemap.updateTreemap(uiState);
      } else if ( uiState.view == 'income' ) {
        $('#expenseSummaryContainer').hide();
        $('#expenseChartContainer').hide();
        $('#fexpenseSummaryContainer').hide();
        $('#fexpenseChartContainer').hide();
        $('#incomeSummaryContainer').show();
        $('#incomeChartContainer').show();
        incomeTreemap.createTreemap(uiState); // Won't do anything if already created
        incomeTreemap.updateTreemap(uiState);
      } else {
        $('#expenseSummaryContainer').hide();
        $('#expenseChartContainer').hide();
        $('#fexpenseSummaryContainer').show();
        $('#fexpenseChartContainer').show();
        $('#incomeSummaryContainer').hide();
        $('#incomeChartContainer').hide();
        fexpenseTreemap.createTreemap(uiState); // Won't do anything if already created
        fexpenseTreemap.updateTreemap(uiState);
      }
    
      // Show an alert if no data is available
      if ( grid.getDataLength() != 0 ) {
        $('.no-data-alert').hide();
        $('#expenseChartContainer').css('visibility', 'visible');
        $('#fexpenseChartContainer').css('visibility', 'visible');
        $('#incomeChartContainer').css('visibility', 'visible');
      } else {
        $('.no-data-alert').show();
        $('#expenseChartContainer').css('visibility', 'hidden');
        $('#fexpenseChartContainer').css('visibility', 'hidden');
        $('#incomeChartContainer').css('visibility', 'hidden');
      }
    }

    function onEconomicExpenseTreemapClick(event, d) {
{% if entities %}
      var getExpenseLink = {{ 'getCountyExpenseLink' if is_county else 'getTownExpenseLink' }};
      var entitySlug = '{{ entity.slug }}';
      window.location=getExpenseLink(entitySlug, d.id);
{% else %}
      window.location=getExpenseArticleLink(d.id, d.name);
{% endif %}
    }

    function onFunctionalExpenseTreemapClick(event, d) {
{% if entities %}
      var getExpenseLink = {{ 'getCountyFExpenseLink' if is_county else 'getTownFExpenseLink' }};
      var entitySlug = '{{ entity.slug }}';
      window.location=getExpenseLink(entitySlug, d.id);
{% else %}
      window.location=getPolicyLink(d.id, d.name);
{% endif %}
    }

    function onIncomeTreemapClick(event, d) {
{% if entities %}
      var getIncomeLink = {{ 'getCountyIncomeLink' if is_county else 'getTownIncomeLink' }};
      var entitySlug = '{{ entity.slug }}';
      window.location=getIncomeLink(entitySlug, d.id);
{% else %}
      window.location=getIncomeArticleLink(d.id, d.name);
{% endif %}
    }

    var stats = {{ stats|safe }};
    var budgetStatuses = {{ budget_statuses|safe }};
    var budgetStatusLabels = {
      '1T': '{{ _("hasta el primer trimestre") }}',
      '2T': '{{ _("hasta el segundo trimestre") }}',
      '3T': '{{ _("hasta el tercer trimestre") }}',
      'D': '{{ _("a día de hoy") }}'
    };

{% if include_financial_chapters %}
    var includeFinancialChapters = true;
{% else %}
    var financialExpenseBreakdown = {{ financial_expense_breakdown.to_json()|safe }},
        includeFinancialChapters = false;
{% endif %}

    var breakdowns = {
      'income': {{ economic_breakdown.to_json( labels=descriptions['income'] )|safe }},
      'fexpense': {{ functional_breakdown.to_json( labels=descriptions['functional'] )|safe }},
      'expense': {{ economic_breakdown.to_json( labels=descriptions['expense'] )|safe }}
    };
    var gridData = {
      'income': breakdownToTable(breakdowns['income']),
      'fexpense': breakdownToTable(breakdowns['fexpense']),
      'expense': breakdownToTable(breakdowns['expense'])
    };

    var i18n = {
      'Presupuestado': 'Presupuestado'
    };

    var incomeAreas = {{ income_areas|safe }};
    var fexpenseAreas = {{ functional_areas|safe }};
    var expenseAreas = {{ expense_areas|safe }};

    var colorScale = {{ color_scale|safe }};
    var incomeTreemap = new BudgetTreemap("#incomeChartContainer", breakdowns['income'], stats, incomeAreas, 2, colorScale).i18n(i18n).budgetStatuses(budgetStatuses);
    var fexpenseTreemap = new BudgetTreemap("#fexpenseChartContainer", breakdowns['fexpense'], stats, fexpenseAreas, 2, colorScale).i18n(i18n).budgetStatuses(budgetStatuses);
    var expenseTreemap = new BudgetTreemap("#expenseChartContainer", breakdowns['expense'], stats, expenseAreas, 2, colorScale).i18n(i18n).budgetStatuses(budgetStatuses);
{% if not entities %}
    // Limit treemap depth for top-level entities
    incomeTreemap.maxLevels(1);
    fexpenseTreemap.maxLevels(1);
    expenseTreemap.maxLevels(1);
{% endif %}

    // Set up controls
    setRedrawOnButtonGroupChange('.btn-group', redraw);
    $('#select-format').change(redraw);
    $('#expenseChartContainer').bind('policy-selected', onEconomicExpenseTreemapClick);
    $('#fexpenseChartContainer').bind('policy-selected', onFunctionalExpenseTreemapClick);
    $('#incomeChartContainer').bind('policy-selected', onIncomeTreemapClick);
    initSlider("#year-selection", {{ years|safe }}, redraw, {{ latest_year }}, {{ years_scale|safe }});

    // Select income/expense based on location hash
    // TODO: Should handle year also
    var state = $.deparam.fragment();
    $("#"+state.view).click();

    // Used to create the treemap here, when there was only one, but now we have two, and they need to be
    // created once the UI state 'field' is correct; otherwise they transition on update and doesn't work.
    redraw();
  });
</script>
{% endblock %}
