{% extends 'base.html' %}
{% block extra_javascript %}
<script src="{{ STATIC_URL }}javascripts/vis/d3.v3.min.js"></script>
<script src="{{ STATIC_URL }}javascripts/vis/d3.sankey.js"></script>
<script src="{{ STATIC_URL }}javascripts/vis/budget-sankey.js"></script>
{% endblock %}
{% block content %}
<h1 class="page-title">{{ _('El recorrido de mis impuestos') }}</h1>

{% include 'budgets/budgets_intro.html' %}

<h1 class="page-title" style="margin-top: 50px">{{ _('Ingresos y gastos en el Gobierno de Aragón') }}</h1>

<!-- <div class="alert inline-block note" id="draftBudgetMessage">
    Datos con el Proyecto de Ley de Presupuestos de la Comunidad Autónoma de Aragón para el Ejercicio 2023
</div> -->

<div class="sankey" id="chart" style="margin-top: -10px"></div>

<div class="data-controllers">
  <p class="title tcenter">{{ _('Elige año') }}</p>
  <div class="layout-slider">
    <input id="year-selection" type="slider" name="price" value="20" />
  </div>
</div>

<div id="pop-up">
  <div id="pop-up-title"></div>
  <div id="pop-up-content"></div>
</div>

<div id="budgets-totals">
  <h1 class="page-title" id="indicadores">{{ _('Ingresos y gastos totales en') }} <span id="totals-year"></span></h1>
  <div id="totals_panel">
    <div class="total">
      <span class="main-label">{{ _('Ingresos totales') }}</span> <b id="total-incomes-executed"></b>
      <br/>
      <span class="secondary-label">{{ _('Presupuestado') }}</span> <b id="total-incomes-budgeted" class="secondary-amount"></b>
    </div>
    <div class="total">
      <span class="main-label">{{ _('Gastos totales') }}</span> <b id="total-expenses-executed"></b>
      <br/>
      <span class="secondary-label">{{ _('Presupuestado') }}</span> <b id="total-expenses-budgeted" class="secondary-amount"></b>
    </div>
  </div>
</div>

{% if not include_financial_chapters %}
<p class="footnote tcenter">{{ _('Se incluyen únicamente los gastos e ingresos no financieros, es decir, capítulos I al VII.') }}</p>
{% endif %}

{% include 'budgets/budgets_indicators.html' %}

{% include 'shared/social_sharing.html' %}

{% include 'shared/data_sources.html' %}

{% include 'shared/policy_paths.html' %}
<script>
  $(function() {
    function redraw() {
      var uiState = getUIState();
      sankey.update(uiState);
      updateIndicators(uiState);
      // Show Draft Budget
      showIfDraftBudget();
    }

    {% include 'budgets/budgets_update_indicators.html' %}

    // Calculate maximum amount to display across all years, so we can set a global scale for the Sankey
    function calculateMaximumSankeyAmount(breakdown, stats) {
      var highest_amount = 0;
      for (var column in breakdown.years) {
        var year = breakdown.years[column].toString();
        var highest_this_year = Math.max( 
                                  (breakdown.income[year]||0), 
                                  (breakdown.income['actual_'+year]||0),
                                  (breakdown.expense[year]||0), 
                                  (breakdown.expense['actual_'+year]||0) );
        var highest_amount = Math.max(highest_amount, 
                                      adjustInflation(highest_this_year, stats, breakdown.years[column]));
      }
      return highest_amount;
    }

    var stats = {{ stats|safe }};
    var budgetStatuses = {{ budget_statuses|safe }};

    var functionalBreakdown = {{ functional_breakdown.to_json( labels=descriptions['functional'] )|safe }};
    var economicBreakdown = {{ economic_breakdown.to_json( labels=descriptions['income'] )|safe }};
    var chapterBreakdown = {{ chapter_breakdown.to_json()|safe }};  // Used for indicators
    var i18n = {
      'other': '{{ _("Otros") }}',
      'government': '{{ _("Gobierno de Aragón") }}',
      'budgeted': '{{ _("Presupuestado") }}',
      'executed': '{{ _("Ejecutado") }}',
      '1T': '{{ _("hasta el primer trimestre") }}',
      '2T': '{{ _("hasta el segundo trimestre") }}',
      '3T': '{{ _("hasta el tercer trimestre") }}',
      'D': '{{ _("a día de hoy") }}',
      'amounts.are.real': '{{ _("(Cantidades actualizadas con la inflación)") }}',
      'n/d': 'No hay datos'
    };

    var sankey = new BudgetSankey(functionalBreakdown, economicBreakdown, stats, budgetStatuses, i18n);
    sankey.incomeNodes({{ income_nodes|safe }});
    sankey.expenseNodes({{ expense_nodes|safe }});
    // Set a constant scale for the Sankey diagram across the years (otherwise each year would look
    // equally big). Note: 4% margin to avoid clipping, as there is some spacing between the items.
    sankey.maxAmountEver( calculateMaximumSankeyAmount(functionalBreakdown, stats) * 1.04 );  

    initSlider("#year-selection", {{ years|safe }}, redraw, {{ latest_year }});
    sankey.draw("#chart", getUIState());
    redraw();
    
    //
    // DRAFT BUDGET MESSAGE
	//
	function showIfDraftBudget() {
		var year = $("#year-selection").val();
		if (year == {{ draftBudgetYear }}) {
      $("#draftBudgetMessage_2").hide();
      $("#draftBudgetMessage").show();
		} else if (year == {{ draftBudgetYear_2 }}) {
      $("#draftBudgetMessage").hide();
			$("#draftBudgetMessage_2").show();
		} else {
      $("#draftBudgetMessage").hide();
      $("#draftBudgetMessage_2").hide();
    }
  }
    
  })
</script>

{% endblock %}
