{% extends 'base.html' %}
{% block content %}  

<!-- Sitelinks Search Box: que mi buscador aparezca en los resultados de Google -->
<!-- http://www.analizosuweb.com/blog/sitelinks-search-box-que-mi-buscador-aparezca-en-los-resultados-de-google/#.Vm_-E6_hDOQ -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "http://presupuesto.aragon.es",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "http://presupuesto.aragon.es/busqueda?q={search_term}",
      "query-input": "required name=search_term"
    }
  }
</script>
<!-- FinSitelinks Search Box: que mi buscador aparezca en los resultados de Google -->
<section class="home-intro" role="region">
  <div class="big-intro">
    <div class="row-fluid">
      <div class="span6">
        <div class="intro">
          <h1>{{ _('¿Cómo y en qué gasta el Gobierno de Aragón?') }}</h1>
          <p class="intro-text">{{ _('Te mostramos de un modo claro cómo se distribuye nuestro presupuesto. De dónde vienen los ingresos y a qué destinamos el gasto') }}.</p>
        </div>
      </div>
      <div class="span6">
        <div class="expense-examples">
          <p class="title">{{ _('Algunos ejemplos') }}:</p>
          <ul>
            {% for programme in featured_programmes %}
            {# Items are initially hidden and shown randomly via Javascript, see below #}
            <li class="hidden">
              <a href="{% url 'budget_app.views.programmes_show' programme.uid(), programme.slug() %}">{{ programme.description }}</a>
              &rarr; <b>{{ formatter( breakdown.subtotals[programme.uid()].total_expense[latest_budget.year] / 100 ) }} €</b>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="options">
    <div class="option-global">
      <div data-icon="B" aria-hidden="true" class="icon mega"></div>
      <h2>{{ _('Visión global') }}</h2>
      <p class="desc">{{ _('Para que tengas una idea general de los ingresos y gastos del Gobierno de Aragón') }}.</p>
      <p><a href="{{ url('budget_app.views.budgets') }}" class="button button-3d magenta icon-plus">Visión global</a></p>
    </div>
    <div class="option-policies">
      <div data-icon="P" aria-hidden="true" class="icon mega"></div>
      <h2>{{ _('Políticas concretas') }}</h2>
        <ul>
          <li><a href="{{ url('budget_app.views.policies') }}">{{ _('Gobierno de Aragón') }}</a></li>
          <li><a href="{{ url('budget_app.views.counties') }}">{{ _('Comarcas') }}</a></li>
          <li><a href="{{ url('budget_app.views.towns') }}">{{ _('Municipios') }}</a></li>
        </ul>
      <p><a href="{{ url('budget_app.views.policies') }}" class="button button-3d blue icon-plus">Políticas</a></p>
    </div>

    <div class="option-tax">
      <div data-icon="&#x63;" aria-hidden="true" class="icon mega"></div>
      <h2>¿Y qué aporto yo?</h2>
      <p class="desc">Te contamos en qué se invierte el dinero que recaudamos de tus impuestos.</p>
      <p><a href="{{ url('budget_app.views.tax_receipt') }}" class="button button-3d green icon-plus">Lo que tú aportas</a></p>
    </div>
  </div>
</section>

<script>
$(function () {
  // Show three featured programmes, at random.
  // We used to do the selection on the server, but then the page would be cached, hence not random anymore.
  for (var i=1; i<=3; i++) {
    var hiddenProgrammes = $("div.expense-examples li.hidden"),
        chosenProgramme = Math.floor(Math.random()*hiddenProgrammes.length);
    $(hiddenProgrammes[chosenProgramme]).removeClass("hidden");
  }

  // Make hero boxes react to clicks
  $('.option-global').click(function(){window.location = '{{ url('budget_app.views.budgets') }}';});
  $('.option-policies').click(function(){window.location = '{{ url('budget_app.views.policies') }}';});
  $('.option-tax').click(function(){window.location = '{{ url('budget_app.views.tax_receipt') }}';});
});
</script>
{% endblock %} 
