<div class="data-controllers {% if display_functional_view %}functional_view{% endif %}">
  <div class="row-fluid">
    <div class="span4">
      <div id="btn-field-wrapper">
        <p class="title">{{ _('Ingresos y gastos') }}</p>
        <div id="btn-field" class="btn-group">
          <button class="btn {{ 'active' if show_side=='income' }}" id="income">{{ _('Ingresos') }}</button>
{% if display_functional_view %}
          <button class="btn {{ 'active' if not full_breakdown }}" id="expense">{{ _('¿Cómo se gasta?') }}</button>
          <button class="btn {{ 'active' if full_breakdown }}" id="fexpense">{{ _('¿En qué se gasta?') }}</button>
{% else %}
          <button class="btn {{ 'active' if show_side!='income' }}" id="expense">{{ _('Gastos') }}</button>
{% endif %}
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="quantity-selection">
        <p class="title">{{ _('Cantidades') }}</p>
        {% include 'shared/data_controllers_select.html' %}
      </div>
    </div>
    {% if show_side %}
    <div class="span7">
    {% else %}
    <div class="span4">
    {% endif %}
      <p class="title">{{ _('Año') }}</p>
      <div class="layout-slider">
        <input id="year-selection" type="slider" name="price" value="20" />
      </div>
    </div>
  </div>
</div>