<meta name="description" content="Sitio web para mostrar información relativa a los presupuestos de Aragón">
<meta name="keywords" content="presupuestos, gastos, ingresos, gobierno, Aragón">
<meta name="author" content="Gobierno de Aragón">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<meta property="og:title" content="Presupuestos del Gobierno de Aragón" />
<meta property="og:description" content="Información sobre los Presupuestos de Aragón" />
