<div class="social-sharing">
  <p class="title">{{ _('Compártelo') }}</p>
    <ul class="addthis_toolbox addthis_default_style addthis_32x32_style addthis_button_expanded">
        <li><a class="addthis_button_twitter" onClick='window.open("https://twitter.com/intent/tweet?text={{ title_prefix+' - ' if title_prefix }}{{ _('Presupuestos del Gobierno de Aragón') }}&url={{ request.build_absolute_uri().replace("http://127.0.0.1:8002","https://presupuesto.aragon.es") }}","sharer","toolbar=0,status=0,width=548,height=500");' href="javascript: void(0)" title="Comparte esta página en Twitter"></a>

        <!-- XXX: Should read the facebook app id from settings. Now we're forced to override the partial -->
        <li><a class="addthis_button_facebook" onClick="window.open('https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri().replace("http://127.0.0.1:8002","https://presupuesto.aragon.es") }}','sharer','toolbar=0,status=0,width=548,height=325');" href="javascript: void(0)" title="Comparte esta página en Facebook"></a>
    </ul>
</div>
