{% extends 'base.html' %}
{% from 'shared/payment_tab.html' import render_tab as render_tab %}
{% block content %}
<h1 class="page-title">{{ _('Inversiones y pagos') }}</h1>

{% include 'payments/payments_intro.html' %}

<section role="region" class="payments-breakdown tab-system">
  <h1 class="visuallyhidden">{{ _('Pagos e inversiones') }}</h1>

  <div class="data-controllers">
    <p class="title tcenter">{{ _('Elige año') }}</p>
    <div class="layout-slider">
      <input id="year-selection" type="slider" value="2015"/>
    </div>
  </div>

  <nav role="navigation" class="tab-menu">
    <h2 class="visuallyhidden">{{ _('Menú de pagos e inversiones') }}</h2>
    <ul id="tabs">
      <li class="current"><a href="#tab-area">{{ _('Por área') }}</a></li>
      <li><a href="#tab-payee">{{ _('Por beneficiario') }}</a></li>
    </ul>
  </nav>

  <div class="tab-contents">
    {{ render_tab(_('Por área'), 'area', 'current') }}
    {{ render_tab(_('Por beneficiario'), 'payee', 'visuallyhidden') }}
  </div>

  {% include 'shared/social_sharing.html' %}
</section>

<!-- 
  We render the totals here initially, and move it to the active tab at run-time.
-->
<div class="visuallyhidden">
  <div id="totals_panel">
    <p class="total"><span>{{ _('Total de inversiones y pagos') }}</span> <b id="total"></b></p>
  </div>
</div>

{% include 'shared/data_sources.html' %}

<script>
  $(function () {
    //
    // GRID RENDERING
    //

    function getColumnDefinition(uiState) {
      return { 
        field: 'expense',
        name: '{{ _("Pago") }}',
        formatter: getFormatter('nominal'),
        sortable: true, 
        headerCssClass: 'slick-header-right',
        column: uiState.year,
        getter: getBreakdownValue, 
        year: Number(uiState.year),
        width: 150,
        resizable: false
      }; 
    }

    // Do all the hard work of drawing the grids
    function redrawGrid() {
      var uiState = getUIState();
      var columnDef = getColumnDefinition(uiState);

      $("#payeeGrid").data('grid', createBudgetGrid( "#payeeGrid", 
                        payeeGridData, [
                          {
                            field: "key",
                            name: '{{ _("Beneficiario") }}',
                            formatter: rowNameFormatter
                          },
                          columnDef
                        ], {
                          explicitInitialization: true
                        }));

      $("#areaGrid").data('grid', createBudgetGrid( "#areaGrid", 
                        areaGridData, [
                          {
                            field: "key",
                            name: '{{ _("Área") }}',
                            formatter: rowNameFormatter
                          },
                          columnDef
                        ], {
                          explicitInitialization: true
                        }));
      onTabSwitch();  // Do some tab initialization

      // Total amounts are the same whichever way you break down the items, so any breakdown will do
      $("#total").text( 
        columnDef.formatter(  0, 0, 
          payeeBreakdown['expense'][uiState.year],
          columnDef, 
          payeeBreakdown) || 'n/a' );
    }    


    //
    // DATA
    //
    var payeeBreakdown = {{ payee_breakdown.to_json()|safe }};
    var payeeGridData = breakdownToTable(payeeBreakdown);

    var areaBreakdown = {{ area_breakdown.to_json()|safe }};
    var areaGridData = breakdownToTable(areaBreakdown);

    var years = {{ years|safe }};
    var stats = {{ stats|safe }};


    //
    // TABS
    //
    $('.payments-breakdown .tab-menu li a').click(function(){
      $('.payments-breakdown .tab-menu li').removeClass('current');
      $(this).parent().addClass('current');
      var currentTab = $(this).attr('href');
      $('.payments-breakdown .tab-content').removeClass('current').addClass("visuallyhidden");
      $(currentTab).addClass('current').removeClass("visuallyhidden");

      // Callback to do some initialization (grid, controllers...) on tab switch
      onTabSwitch();

      return false;
    });

    function onTabSwitch() {
      var currentTab = $(".payments-breakdown .tab-content.current");

      // SlickGrid can't be initialized in a tab that is not visible, so we set explicitInitialization
      // to true, and tell the grid to initialize itself when the time comes, i.e. when the tab is visible
      var currentGrid = currentTab.children('div.table-grid').data('grid');
      if ( currentGrid != undefined )
        currentGrid.init();

      // Move totals to the right tab
      var totals = $("#totals_panel").detach();
      totals.appendTo(currentTab.find(".totals-placeholder"));
    }


    //
    // LOCATION HASH
    //

    // XXX: This method is very similar to the one for policies, but not quite the same :/
    function unfoldItem(gridData, itemId) {
      var found = false;
      for ( i=0; i<gridData.length && !found; i++ ) {
        // XXX: Not proud of this matching (both passing a description via URL and using indexOf
        // to match), but a) we don't have a better id at the moment, the breakdown only gives us
        // amounts and the dimension keys, and b) because of the former we've added the date to the
        // item description, so we can't get an exact match.
        if ( gridData[i].key.indexOf(itemId) == 0 ) {
          var parent = gridData[i].parent;
          while (parent != null) {
            parent._expanded = true;
            parent = parent.parent;
          }
          found = true;
        }
      }
      return found;
    }

    function parseLocationHash() {
      state = $.deparam.fragment();

      // Highlight a particular item
      if ( state.description ) {
        unfoldItem(payeeGridData, state.description);
        redrawGrid();
        $("a[href=#tab-payee]").click();
        window.setTimeout(function(){ $(".toggle.collapse")[0].scrollIntoView() }, 1000);

      } else {
        redrawGrid();
        onTabSwitch();  // Do some tab initialization
      }
    }

    initSlider("#year-selection", years, redrawGrid, {{ latest_year }});
    if (years.length==1) $(".data-controllers").hide();

    parseLocationHash();      // Handle the hash the page may have loaded with.
  })
</script>

{% endblock %}