{% extends 'base.html' %}
{% from 'shared/pagination.html' import render_pagination_controls as render_pagination_controls %}
{% block content %}
<h1 class="page-title">Resultados</h1>
<div class="row-fluid">
  <div class="span6">
    <p class="alert note">
      Hemos encontrado <b>{{ results_size }} 
      resultados</b> relacionados con <b>{{ query }}</b>.
    </p>
  </div>
  <div class="span6">
    <form id="form-search-controls" action="{{ url('aragon.views.search') }}" method="get">
      <label for="year-dropdown">Mostrar resultados de:</label>
      <select name="year" id="year-dropdown">
        {% if selected_year=="all" %}
        <option value='all' selected='selected'>cualquier año</option>
        {% else %}
        <option value='all'>cualquier año</option>
        {% endif %}
        {% for year in years %}
          {% if year==selected_year %}
          <option value="{{ year }}" selected='selected'>{{ year }}</option>
          {% else %}
          <option value="{{ year }}">{{ year }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <input type="hidden" value="{{ query }}" name="q" />
    </form>
  </div>
</div>


{% if terms %}
<section role="region" class="results-terms box">
  <div class="box-title">
    <h1 class="icon-glossary">Términos</h1>
  </div>
  <div class="box-content">
    <div class="glossary">
      {% for term in terms %}
      <dl>
        <dt>{{ term['title'] }}</dt>
        <dd>
          <p>{{ term['description'] }}</p>
        </dd>
      </dl>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}


{% if entities %}
<section role="region" class="results-terms box">
  <div class="box-title">
    <h1>Comarcas y municipios</h1>
  </div>
  <div class="box-content">
    <table class="table-light table-responsive results-policies" summary="Resultados encontrados en Políticas y programas para el término buscado">
      <caption class="visuallyhidden">Comarcas y municipios</caption>
      <tbody>
      {% for entity in entities %}
        <tr>
          <th data-th="Política" headers="policy-program" id="programme1" scope="row">
            {% if entity.level=='comunidad' %}
              <a href="{{ url('aragon.views.policies') }}">{{ entity.name }}</a>
            {% else %}
            {% set view_name = 'aragon.views.counties_show' if entity.level=='comarca' else 'aragon.views.towns_show' %}
              <a href="{{ url(view_name, entity.name|slugify) }}">{{ entity.name }}</a>
            {% endif %}
          </th>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endif %}


{% if policies_ids or programmes_per_policy %}
<section role="region" class="results-policies box">
  <div class="box-title">
    <h1 class="icon-policy">Políticas y Programas</h1>
  </div>
  <div class="box-content">
    <table class="table-light table-responsive results-policies" summary="Resultados encontrados en Políticas y programas para el término buscado">
      <caption class="visuallyhidden">Política / Programa</caption>
      <thead>
        <tr>
          <th id="policy-program">Política / Programa</th>
        </tr>
      </thead>
      <tbody>
      {% for policy_id in policies_ids %}
          <tr>
            <th data-th="Política" headers="policy-program" id="programme1" scope="row">
              <p class="policy">
                <a href="{% url 'aragon.views.policies_show' policy_id, descriptions['functional'].get(policy_id)|slugify %}" id="policy-name-link">{{ descriptions['functional'].get(policy_id) }}</a>
              </p>
            </th>
          </tr>
      {% endfor %}

      {% for policy_id, programmes in programmes_per_policy.iteritems() %}
          {% for programme_id in programmes %}
          <tr>
            <th data-th="Programa" headers="policy-program" id="programme1" scope="row">
              <a href="{% url 'aragon.views.programmes_show' programme_id, descriptions['functional'].get(programme_id|slugify) %}">{{ descriptions['functional'].get(programme_id) }}</a>
              <p class="policy">
                <a href="{% url 'aragon.views.policies_show' policy_id, descriptions['functional'].get(policy_id)|slugify %}" id="policy-name-link">{{ descriptions['functional'].get(policy_id) }}</a>
              </p>
            </th>
          </tr>
          {% endfor %}
      {% endfor %}

      </tbody>
    </table>
  </div>
</section>
{% endif %}

{% if items %}
<section role="region" class="results-concepts box">
  <div class="box-title">
    <h1>Conceptos</h1>
  </div>
  <div class="box-content">
    <table class="table-light table-responsive" summary="Resultados encontrados en Conceptos para el término buscado">
      <caption class="visuallyhidden">Conceptos</caption>
      <thead>
        <tr>
          <th id="concept">Concepto</th>
          <th id="inout">Gastos / Ingresos</th>
        </tr>
      </thead>


      {% for item in items %}
        {# Convenience variable to simplify URL-generation logic below. #}
        {% if item.policy %}
          {% set show_side = 'fexpense' %}
        {% else %}
          {% set show_side = 'expense' if item.expense else 'income' %}
        {% endif %}
        <tbody>
          <tr>
            <th data-th="Concepto" headers="concept" id="concept1" scope="row">
              <div class="concept-block">
                {# Concept name #}
                {% if item.level=='comunidad' %}
                  {% if item.expense %}
                    <p class="concept icon-concept">
                      <a href="{% url 'aragon.views.programmes_show' item['programme'], descriptions['functional'].get(item['programme'])|slugify %}#item={{item.uid()}}" id="policy-name-link">{{ item.description }}</a>
                    </p>
                  {% else %}
                    <p class="concept icon-concept">
                      <a href="{% url 'aragon.views.income_articles_show' item['article'], descriptions['income'].get(item['article'])|slugify %}#item={{item.uid()}}" id="policy-name-link">{{ item.description }}</a>
                    </p>
                  {% endif %}
                {% else %}
                  {% set view_name_prefix = 'aragon.views.counties_show_' if item.level=='comarca' else 'aragon.views.towns_show_' %}
                  {% set view_name = view_name_prefix+show_side %}
                  {% if show_side == 'fexpense' %}
                    {% set item_id = item.policy %}
                    {% set item_anchor = '' %}
                  {% else %}
                    {% set item_id = item.article %}
                    {% set item_anchor = item.uid() %}
                  {% endif %}
                  <p class="concept icon-concept">
                    <a href="{{ url(view_name, item.name|slugify, item_id) }}#item={{item_anchor}}" id="policy-name-link">{{ item.description }}</a>
                  </p>
                {% endif %}

                {# Policy #}
                {% if item.level=='comunidad' and item.expense and item.policy %}
                <p class="policy">
                  <a href="{% url 'aragon.views.policies_show' item['policy'], descriptions['functional'].get(item['policy'])|slugify %}" id="policy-name-link">{{ descriptions['functional'].get(item['policy']) }}</a>
                </p>
                {% endif %}

                {# Programme/Article #}
                {% if item.level=='comunidad' %}
                  {% if item.expense %}
                    {% if item.programme %}
                    <p class="programme icon-programme">
                      <a href="{% url 'aragon.views.programmes_show' item.programme, descriptions['functional'].get(item.programme)|slugify %}">{{ descriptions['functional'].get(item.programme) }}</a>
                    </p>
                    {% endif %}
                  {% else %}
                    <p class="programme icon-programme">
                      <a href="{% url 'aragon.views.income_articles_show' item['article'], descriptions['income'].get(item['article'])|slugify %}" id="policy-name-link">{{ descriptions['income'].get(item.article) }}</a>
                    </p>
                  {% endif %}
                {% endif %}

                {# Year and location #}
                {% if item.level=='comunidad' %}
                <p class="date icon-calendar">
                  <a href="{{ url('aragon.views.policies') }}#view={{show_side}}">{{ item.name }} {{ item.year }}</a>
                </p>
                {% else %}
                {% set view_name = 'aragon.views.counties_show' if item.level=='comarca' else 'aragon.views.towns_show' %}
                <p class="date icon-calendar">
                  <a href="{{ url(view_name, item.name|slugify) }}#view={{show_side}}">{{ item.name }} {{ item.year }}</a>
                </p>
                {% endif %}
              </div>
            </th>
            <td data-th="Gastos" headers="concept2 inout">
              <p>
                <span class="h-<%= item.expense ? 'out' : 'in' %>">
                  {{ 'Gastos:' if item.expense else 'Ingresos:' }}
                </span>
                <span class="n-<%= item.expense ? 'out' : 'in' %>">
                  {{ formatter(item.amount/100) }} €
                </span>
              </p>
            </td>
          </tr>
        </tbody>
      {% endfor %}

    </table>
  </div>
</section>
{% endif %}

<script>
  $(function () {
    $("#year-dropdown").change(function() { $('#form-search-controls').submit(); });
  });
</script>
</script>

{{ render_pagination_controls(items, query_string) }} 

{% endblock %}