<h1 class="page-title" id="indicadores">{{ _('Indicadores presupuestarios en') }} <span id="indicators-year"></span></h1>

<div id="totals_panel">
  <p class="total"><span><abbr title="{{ _('Ingresos corrientes (capítulos I-V) - Gastos corrientes (capítulos I-V)') }}">{{ _('Ahorro bruto') }}</abbr></span> <b id="total-gross-savings"></b></p>
  <p class="total"><span><abbr title="{{ _('Ahorro bruto – capítulo IX de gastos (pasivos financieros)') }}">{{ _('Ahorro neto') }}</abbr></span> <b id="total-net-savings"></b></p>
  <p class="total"><span><abbr title="{{ _('Ingresos no financieros (capítulos I-VII) – Gastos no financieros (capítulos I-VII)') }}">{{ _('Capacidad/Necesidad de financiación') }}</abbr></span> <b id="total-funding-capacity"></b></p>
</div>

<p class="footnote tcenter">{{ _('Cantidades actualizadas con la inflación a fecha 1 de enero de') }} {{ last_inflation_year }}. {{ _('El cálculo de los indicadores utiliza las cifras del presupuesto aprobado') }}.</p>