<div class="budget-stream">
  <div class="row-fluid">
    <div class="span4">
      <div class="step1">
        <h2><span>1.</span> <b>{{ _('La recaudación') }}</b></h2>
        <p class="desc">{{ _('Se realiza a través de <b>impuestos directos</b> - como el IRPF y el impuesto de sociedades - y de <b>impuestos indirectos</b> - el IVA e impuestos sobre el tabaco, el alcohol o la gasolina -.')|safe }}</p>
      </div>
    </div>
    <div class="span4">
      <div class="step2">
        <h2><span>2.</span> <b>{{ _('¿Cómo se reparte?') }}</b></h2>
        <p class="desc">{{ _('Una parte del dinero recaudado se queda en la <b>Administración General del Estado</b>, mientras que otra parte se transfiere al <b>Gobierno de Aragón</b>')|safe }}.</p>
      </div>
    </div>
    <div class="span4">
      <div class="step3">
        <h2><span>3.</span> <b>{{ _('¿En qué se emplea?') }}</b></h2>
        <p class="desc">{{ _('El <b>Gobierno de Aragón</b> utiliza el dinero recaudado, junto con otras fuentes de financiación como puede ser la deuda, para <b>mantener los servicios públicos</b>')|safe }}.</p>
      </div>
    </div>
  </div>
</div>