{% extends 'base.html' %}
{% from 'shared/pagination.html' import render_pagination_controls as render_pagination_controls %}
{% block content %}
<h1 class="page-title">¿Qué significa?</h1>

<form class="form-search-glossary" action="{{ url('aragon.views.terms') }}" method="get">
  <label class="vissuallyhidden" for="q">Consulta</label>
  <input placeholder="Escribe aquí tu término de búsqueda" class="medium-f" name="q" id="q" type="text">
  <button class="button button-3d black tupper" type="button">Buscar</button>
</form>

<div class="glossary">
  {% for term in terms %}
  <dl>
    <dt class="icon-term">{{ term.title }}</dt>
    <dd>{{ term.description }}</dd>
  </dl>
  {% endfor %}
</div>

{{ render_pagination_controls(terms, query) }} 

{% endblock %}