<footer role="contentinfo">
  <div class="feder">
    <div class="container-fluid">
      <a href="http://www.aragon.es/DepartamentosOrganismosPublicos/Departamentos/HaciendaAdministracionPublica/AreasTematicas/FondosEuropeos"><img src="{{ STATIC_URL }}assets/unionEuropea.gif" alt="Fondo Europeo de Desarrollo Regional (FEDER)"></a>
    </div>
  </div>
  <div class="footer-corp">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span10">
          <p class="legal-text"><b>Gobierno de Aragón</b>. <b><a href="http://opendata.aragon.es/terminos">Terminos de Uso</a> <span class="bar">|</span> <a href="http://www.aragon.es/EnlacesPie/Accesibilidad">Accesibilidad</a></b><br>Edificio Pignatelli. <abbr title="Paseo">P°</abbr> María Agustín, 36. 50071 - Zaragoza. <abbr title="Teléfono">Tfno.</abbr> 976 714 000</p>
        </div>
        <div class="span2">
          <p class="logo-aragon"><a href="http://www.aragon.es"><img src="{{ STATIC_URL }}assets/logoFooterAragon.gif" alt="Gobierno de Aragón"></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
