<footer role="contentinfo">
  <div class="feder">
    <div class="container-fluid">
      <a href="http://www.aragon.es/DepartamentosOrganismosPublicos/Departamentos/HaciendaAdministracionPublica/AreasTematicas/FondosEuropeos"><img src="{{ STATIC_URL }}assets/unionEuropea.gif" alt="Fondo Europeo de Desarrollo Regional (FEDER)"></a>
    </div>
  </div>
  <div class="footer-corp">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span10">
          <p class="legal-text"><b>Gobierno de Aragón</b>. <b><a href="http://opendata.aragon.es/terminos">Terminos de Uso</a> <span class="bar">|</span> <a href="http://www.aragon.es/EnlacesPie/Accesibilidad">Accesibilidad</a></b><br>Edificio Pignatelli. <abbr title="Paseo">P°</abbr> María Agustín, 36. 50071 - Zaragoza. <abbr title="Teléfono">Tfno.</abbr> 976 714 000</p>
        </div>
        <div class="span2">
          <p class="logo-aragon"><a href="http://www.aragon.es"><img src="{{ STATIC_URL }}assets/logoFooterAragon.gif" alt="Gobierno de Aragón"></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--[if lt IE 9]>
  {% include 'shared/chromeframe.html' %}
<![endif]-->

<!--[if lte IE 7]>
  <script src="{{ STATIC_URL }}javascripts/icons-lte-ie7.js"></script>
<![endif]-->

<script src="{{ STATIC_URL }}javascripts/css_browser_selector.js"></script>

<!--[if (gte IE 6)&(lte IE 8)]>
  <script src="{{ STATIC_URL }}javascripts/selectivizr-min.js"></script>
<![endif]-->

<script src="{{ STATIC_URL }}javascripts/breakpoints.js"></script>
<script src="{{ STATIC_URL }}javascripts/script.js"></script>

<!-- Slider -->
<script src="{{ STATIC_URL }}javascripts/jslider/jshashtable-2.1_src.js"></script>
<script src="{{ STATIC_URL }}javascripts/jslider/jquery.numberformatter-1.2.3.js"></script>
<script src="{{ STATIC_URL }}javascripts/jslider/tmpl.js"></script>
<script src="{{ STATIC_URL }}javascripts/jslider/jquery.dependClass-0.1.js"></script>
<script src="{{ STATIC_URL }}javascripts/jslider/draggable-0.1.js"></script>
<script src="{{ STATIC_URL }}javascripts/jslider/jquery.slider.js"></script>

<!-- Select2 -->
<script src="{{ STATIC_URL }}javascripts/select2.min.js"></script>
<script src="{{ STATIC_URL }}javascripts/select2_locale_es.js"></script>