<header role="banner" class="hide-when-embedded">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<p class="logo-gobierno-aragon"><a href="http://www.aragon.es/" title="Ir a la home de Gobierno de Aragón"><img src="{{ STATIC_URL }}assets/logo-gobierno-aragon.png" alt="Logo de Gobierno de Aragón"></a></p>
			</div>
			<div class="span6">
				<nav role="navigation" class="aragon-access">
					<h1 class="visuallyhidden">Accesos varios de Gobierno de Aragón</h1>
					<ul>
						<li><a href="http://www.aragon.es/EnlacesCabecera/WebsA_Z">webs a-z</a></li>
						<li><a href="http://servicios.aragon.es/sus_publico/PublicoServlet?accion=1" target="_blank">Suscripciones</a></li>
					</ul>
				</nav>
				<p class="aragones"><a href="http://opendata.aragon.es">
					<img src="{{ STATIC_URL }}assets/logoAragonOpenData.png" alt="Logo de Open Data Aragón">
				</a></p>
			</div>
		</div>
		<h1 class="main-title">
			<a href="{{ url('budget_app.views.welcome') }}" title="Ir a la home de Presupuestos del Gobierno de Aragón">
				<img id="title-icon" src="{{ STATIC_URL }}assets/logoAragonOpenBudget.png" alt="Logo de Open Budget Aragón" width="40">
				Presupuestos de Aragón
			</a>
		</h1>
	</div>

	<a class="main-menu-toggle" href="main-menu">Menú principal</a>
	
	<nav role="navigation" id="main-menu">
		<div class="container-fluid">
			<h1 class="visuallyhidden">Menú principal</h1>

			<ul class="nav-rwd">
				<li class="page-budgets"><a href="{{ url('budget_app.views.budgets') }}" class="icon-budget">Visión global</a></li>
				<li class="page-policies">
					<a href="{{ url('budget_app.views.policies') }}" class="icon-policy parent">Políticas</a>
					<ul>
						<li><a href="{{ url('budget_app.views.policies') }}">Gobierno de Aragón</a></li>
						<li><a href="{{ url('budget_app.views.counties') }}">Comarcas</a></li>
						<li><a href="{{ url('budget_app.views.towns') }}">Municipios</a></li>
					</ul>
				</li>
				<li class="page-tax-receipt"><a href="{{ url('budget_app.views.tax_receipt') }}" class="icon-aportacion">Lo que tú aportas</a></li>
				<li class="page-glossary"><a href="{{ url('budget_app.views.terms') }}" class="icon-glossary">¿Qué significa...?</a></li>
				<li class="page-reuse"><a href="{{ url('budget_app.views.reuse') }}" class="icono-reuse"><img  src="{{ STATIC_URL }}/assets/reuse inverso2.png"  alt="Reutilización" height="17px" width="17px" style="height:  17px; width: 17px; margin-right: 5px;"> Reutilización</a></li>
			</ul>
		</div>
	</nav>
</header>
